.popup__title {
    padding: 0;
    margin: 0 0 54px;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    text-align: left;
}

@media screen and (max-width: 510px) {
    .popup__title {
        font-size: 18px;
        margin-bottom: 60px;
    }
}