.profile__about {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-size: 18px;
    line-height: 1.14;
    font-weight: 400;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    grid-area: about;
    max-width: 336px;
}

@media screen and (max-width: 695px) {
    .profile__about {
        text-align: center;
        margin-top: 16px;
    }
}

@media screen and (max-width: 400px) {
    .profile__about {
        font-size: 14px;
        margin-top: 14px;
    }
}