.footer {
    max-width: 880px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding-bottom: 60px;
}

@media screen and (max-width: 890px) {
    .footer {
        max-width: 100%;
        padding-bottom: 38px;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        padding-bottom: 36px;
    }
}