.card__like {
    padding: 0;
    margin: 0;
    border: none;
    background-image: url("../../../images/likeButton.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: 22px 19px;
    width: 22px;
    height: 19px;
    flex-shrink: 0;
    transition: 0.3s linear;
    cursor: pointer;
}

.card__like:hover {
    opacity: 0.5;
}